allow hal_camera_default sysfs_camera_device:file { open read getattr };
allow hal_camera_default sysfs_battery_supply:dir search;
allow hal_camera_default sysfs_battery_supply:file { open read getattr };
