on init
    mkdir /oem 0550 root root

    # Set Hardware properties
    setprop ro.hw.dualsim ${ro.boot.dualsim}
    setprop ro.hw.device ${ro.boot.device}
    setprop ro.hw.radio ${ro.boot.radio}
    setprop ro.hw.fps true
    setprop ro.hw.imager 12MP

    # Dalvik properties
on property:ro.opengles.version=196608
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heapminfree 2m

on property:ro.opengles.version=196610
    setprop dalvik.vm.heapsize 384m
    setprop dalvik.vm.heapminfree 512k

    # Variant properties
on property:ro.boot.hardware.sku=XT1924-1
    setprop ro.opengles.version 196608
    setprop ro.product.model XT1924-1
    setprop ro.product.name rhannah
    setprop dalvik.vm.dex2oat-threads 2
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.hw.ecompass false
    setprop ro.mot.sensors.chopchop false
    setprop ro.mot.sensors.camgest false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false
    setprop ro.vendor.sensors.amd false

on property:ro.boot.hardware.sku=XT1924-3
    setprop ro.opengles.version 196610
    setprop ro.product.model XT1924-3
    setprop ro.product.name ahannah
    setprop dalvik.vm.dex2oat-threads 6
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.hw.ecompass false
    setprop ro.mot.sensors.chopchop false
    setprop ro.mot.sensors.camgest false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false
    setprop ro.vendor.sensors.amd false

on property:ro.boot.hardware.sku=XT1924-4
    setprop ro.opengles.version 196608
    setprop ro.product.model XT1924-4
    setprop ro.product.name rhannah
    setprop dalvik.vm.dex2oat-threads 2
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.hw.ecompass false
    setprop ro.mot.sensors.chopchop false
    setprop ro.mot.sensors.camgest false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false
    setprop ro.vendor.sensors.amd false

on property:ro.boot.hardware.sku=XT1924-5
    setprop ro.opengles.version 196608
    setprop ro.product.model XT1924-5
    setprop ro.product.name rhannah
    setprop dalvik.vm.dex2oat-threads 2
    setprop persist.vendor.audio.fluence.speaker false
    setprop ro.hw.ecompass false
    setprop ro.mot.sensors.chopchop false
    setprop ro.mot.sensors.camgest false
    setprop ro.vendor.sensors.gravity false
    setprop ro.vendor.sensors.laccel false
    setprop ro.vendor.sensors.amd false

on property:ro.boot.hardware.sku=XT1924-6
    setprop ro.product.model XT1924-6
    setprop ro.hw.ecompass true

on property:ro.boot.hardware.sku=XT1924-7
    setprop ro.opengles.version 196610
    setprop ro.product.model XT1924-7
    setprop ro.product.name hannah_t
    setprop dalvik.vm.dex2oat-threads 6
    setprop persist.lte.pco_supported true
    setprop persist.vendor.audio.fluence.speaker true
    setprop persist.radio.data_con_rprt 1
    setprop persist.radio.customer_mbns tmo_usa_ims_default.mbn
    setprop persist.vendor.ims.playout_delay 10
    setprop persist.vendor.ims.cam_sensor_delay 20
    setprop persist.vendor.ims.display_delay 40
    setprop persist.vendor.radio.snapshot_timer 22
    setprop persist.vendor.radio.snapshot_enabled 1
    setprop persist.eab.supported 1
    setprop persist.rcs.supported 1
    setprop persist.rcs.presence.provision 0
    setprop ro.hw.ecompass true

on property:ro.boot.hardware.sku=XT1924-8
    setprop ro.opengles.version 196610
    setprop ro.product.model XT1924-8
    setprop ro.product.name hannah_sprint
    setprop dalvik.vm.dex2oat-threads 6
    setprop persist.lte.pco_supported true
    setprop persist.vendor.audio.fluence.speaker true
    setprop persist.vendor.radio.snapshot_timer 22
    setprop persist.vendor.radio.snapshot_enabled 1
    setprop persist.eab.supported 1
    setprop persist.rcs.supported 1
    setprop persist.rcs.presence.provision 0
    setprop ro.hw.ecompass true

on property:ro.hw.dualsim=true
    setprop ro.radio.imei.sv 6
    setprop ro.telephony.default_network 10,0

on property:ro.hw.dualsim=false
    setprop ro.radio.imei.sv 11
    setprop ro.telephony.default_network 10

on fs
#    wait /dev/block/bootdevice/by-name/oem
#    mount ext4 /dev/block/bootdevice/by-name/oem /oem ro nosuid nodev context=u:object_r:oemfs:s0
