on init
    # Set Hardware properties
    setprop ro.vendor.hw.dualsim ${ro.boot.dualsim}
    setprop ro.vendor.hw.radio ${ro.boot.radio}

on property:ro.vendor.hw.dualsim=true
    setprop ro.vendor.radio.imei.sv 6
    setprop ro.telephony.default_network 10,0

on property:ro.vendor.hw.dualsim=false
    setprop ro.vendor.radio.imei.sv 11
    setprop ro.telephony.default_network 10
